.spinner {
  border-radius: 50%;
  width: 24px;
  height: 24px;
  border: 5px solid #333;
  border-top-color: #fff;
  animation: spin 1000ms infinite linear;
  transition: all 250ms ease-out;
}
.spinner.hidden {
	opacity: 0;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}