.aside {
    height: 100%;
    width: 35%;
    display: inline-block;
    color: white;
    left: 65%;
    z-index: 1;
    position: absolute;
    margin: auto;
    background-image: url('../src/img/bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    transition: opacity 300ms linear;
    overflow-y: auto;
    @include media("<tablet") {
        width: 100%;
        box-sizing: border-box;
        display: block;
        position: relative;
        left: 0;
        z-index: 1;
        transition: opacity 1ms linear;
    }
    .aside-wrap {
        background-color: transparentize(powderblue, 0.8);
        padding: 2%;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
    }
    &__header {
        margin-top: 10px;
    }
    .header__title {
        font-size: 4rem;
        font-family: Josefin Sans;
        font-weight: 700;
        display: block;
        color: darkgoldenrod;
        @include media("<=phone") {
            font-size: 3em;
        }
    }
    .header__subtitle {
        display: block;
        font-size: 1.2rem;
        color: goldenrod;
        @include media("<=phone") {
            font-size: 1rem;
        }
    }
    &__body {
        margin-top: 50px;
        color: #062f4f;
        font-family: Josefin Sans;
        font-size: 1.2em;
        font-weight: 700;
        .country-names {
            display: flex;
            flex-wrap: wrap;
            .aside-country-name {
                padding: 5px 15px;
                margin: 5px;
                background-color: #b0e0e6;
                color: #062f4f;
                font-family: "Cinzel";
                cursor: pointer;
                transition: all 250ms ease-in-out; 
                &:hover {
                    color: #fff;
                    background-color: #062f4f;
                }
            }
        }
    }
    &__footer {
        position: absolute;
        right: 0;
        bottom: 0;
        margin-right: 10px;
        margin-bottom: 10px;
        font-family: Josefin sans;
        a {
            color: #fff;
            text-decoration: none;
            &:hover {
                color: #062f4f;
            }
        }
    }
}