.visit {
    min-height: 100vh;
    &-types {
        display: flex;
    }
    &-type {
        background-color: #062f4f;
        padding: 5px 8px;
        margin-right: 5px;
        color: white;
        margin-bottom: 5px;
        display: inline-block;
    }
    &-icon {
        background-repeat: no-repeat;
        min-width: 24px;
        height: 24px;
        margin-right: 10px;
        display: flex;
    }
    &-dates, &-cities {
        color: #062f4f;
        font-weight: 700;
        display: flex;
    }
    &-dates span {
        padding: 5px 1px;
    }
    &-cities {
        div:nth-child(2) {
            display: flex;
            flex-flow: row wrap;
        }
    }
    &-city {
        padding: 5px 8px;
        margin-right: 3px;
        margin-bottom: 5px;
        background-color: #efefef;
        color: #062f4f;
        font-weight: 700;
    }
    &-tweets {
        opacity: 0;
        margin-top: 100px;
        transition: opacity 600ms ease-in-out, margin-top 600ms cubic-bezier(0, 0, 0, 0.84);
    }
    &-spinner {
        margin: 0 auto;
        margin-top: 5%;
        opacity: 1;
        transition: opacity 100ms ease-out;
        &--hidden {
            opacity: 0;
            ~ .visit-tweets {
                opacity: 1;
                margin-top: -24px;
            }
        }
    }
}

.visit-icon {
    &.location {
        background-image: url('../src/img/location_city.svg');
    }
    &.calendar {
        background-image: url('../src/img/date_range.svg');
    }
    &.purpose {
        background-image: url('../src/img/label.svg');
    }
    
}